/**
 * Reusable colors.
 */

.text-muted {
  color: #777;
}

.text-primary {
  color: #fed136;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.bg-darkest-gray {
  background-color: #222;
}
textarea::-moz-placeholder,
input::-moz-placeholder {
  color: #999;
  opacity: 1;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #999;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #999;
}