#contact {
  background-color: #222;
  background-image: url(../../images/map-image.png);
  background-position: center;
  background-repeat: no-repeat;
}

#contact .section-heading {
  color: #fff;
}

#contact .text-danger {
  color: #e74c3c;
}

