.section-main {
  padding-top: 120px;
  padding-bottom: 60px;
  color: #FFF;
}

.path-user .section-main {
  background-attachment: scroll;
  background-image: url("../../images/header-bg.jpg");
  background-position: center center;
  background-size: cover;
}