::-moz-selection {
  text-shadow: none;
  background: #fed136;
}

::selection {
  text-shadow: none;
  background: #fed136;
}

img::selection {
  background: 0 0;
}

img::-moz-selection {
  background: 0 0;
}
