{#
/**
 * @file
 * Overrides textarea.html.twig.
 *
 * Changes:
 * - Added class to textarea element.
 *
 * @see template_preprocess_input()
 */
#}
<div{{ wrapper_attributes }}>
  <textarea{{ attributes.addClass('form-control') }}>{{ value }}</textarea>
</div>
