.text-muted {
  color: #777;
}

.text-primary {
  color: #fed136;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.bg-darkest-gray {
  background-color: #222;
}
