.section__contact {
  background-color: #222;
  background-image: url(../../images/map-image.png);
  background-position: center;
  background-repeat: no-repeat;
}

.section__contact .section-heading {
  color: #fff;
}

.section__contact .form-group {
  margin-bottom: 25px;
}

.section__contact .form-group input,
.section__contact .form-group textarea {
  padding: 20px;
}

.section__contact .text-danger {
  color: #e74c3c;
}

.section__contact .btn-xl {
  color: #fff;
}
